

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5A576C;
  padding: 2px;
  color: #000;
}

.navbar-left {
  display: flex;
}

.btn-connexion,
.btn-inscription {
  background-color: transparent;
  /* border: 2px solid #fff; /* Bordure solide blanche */
  border-radius: 20px; /* Bordure arrondie */
  margin-right: 10px;
  cursor: pointer; 
  border: 2px solid #fff; /* Bordure solide bleue */
  border-radius: 5px; /* Coins légèrement arrondis */
  color: #fff;
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
}

.btn {
  color: inherit;
  text-decoration: none;
}

.logo {
  
  transform: scale(0.5);
  max-width: 500px; /* Définissez la taille maximale que vous souhaitez pour le logo */
  max-height: 50px; /* Définissez également une hauteur maximale pour le logo, si nécessaire */

  
  
}

/* css loanding page  */

.loading-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 50px;
  background-color:#4A4088;
  color: #fff;
}

.loading-page {
  position: relative; /* Assure que les éléments positionnés absolument sont positionnés par rapport à ce conteneur */
}

.loading-page::before {
  content: ''; /* Contenu généré */
  position: absolute; /* Position absolue par rapport au conteneur parent */
  top: 15%; /* Alignement au coin supérieur */
  left: 0; /* Alignement au coin gauche */
  width: 20%; /* Largeur de la ligne */
  height: 2px; /* Épaisseur de la ligne */
  background-color: #ccc; /* Couleur de la ligne */
  transform: rotate(-45deg); /* Rotation de la ligne pour la rendre diagonale */
}


.text-block {
  flex: 1;
  border-bottom: 10px solid #ccc; /* Bordure élégante */
  padding-bottom: 25px;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-size: 46px;
  margin: 0;
}

.image-block {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}



.image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%; /* Pour s'adapter à la forme circulaire */
};

/* Footer  */

/* Footer.css */
/* .footer {
  background-color: ;
  color: #fff;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  flex-direction: column;
  line-height: 0.2;
}

.logo {
  width: 100px;
  height: auto;
}

.social-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.footer-line {
  border: none;
  border-top: 1px solid #fff;
  margin-top: 20px;
} */
